<!-- test si ya pas d'erreur affiche ce message -->

<% flash.each do |type, message| %>
  <div class="alert alert-<%= type %> alert-dismissible fade show" role="alert">
    <%= type %> - <%= message %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<!-- Show de 1 gossip -->
<div class="container marketing">
  <h1>Gossip#show</h1>
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading"><%= @gossip.content %></h2>
      <h5 class="text-muted">Title : <%= @gossip.title %></h5>
      <p class="lead">Author : <%= @gossip.user.first_name %> --><%= link_to "Son profil", profil_path(@id)%></p>
      <p class="lead">City : <%= @gossip.user.city.name %> --><%= link_to "Details", city_path(@id)%></p>
      <p>
        <% if current_user == @gossip.user %>
          <%= link_to "Edit", edit_gossip_path(@id), class:"btn btn-primary p-5"%>  
          <%= link_to "Destroy", gossip_path(@gossip), data: {turbo: true,turbo_method: :delete,turbo_confirm: "Are you sure?"}, class:"btn btn-danger" %> <!--il faut mettre gossip_path(@gossip) pour indiquer quelle élément on veut supprimer -->
          <!--Pour pouvoir utiliser turbo_confirm il faut réactiver turbo:true tout en insérarnt la bonne ligne dans application et gemfile-->
        <% end %>
      </p>
    </div>
    <div class="col-md-5">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="250" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
    </div>
  </div>
</div>
<div class="container">
<!--Compte le nombre de likes
<p><%= @like.inspect %></p>
<p><%= @gossip %></p>-->
  <h5 class="text-white bg-dark"><%= @gossip.likes.count %> Likes</h5> 
  <% if current_user %>
    <% if @like == nil%>
    <%= button_to "Like", likes_path(@gossip), method:"post", class:"btn btn-success p-4"%> 
    <% end %>
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
    <% if @like != nil%>
    <%= button_to "Supprimer ce like", like_path(@like), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer ce like ?" }, class:"btn btn-warning p-4" %>
    <% end %>
  <% end %>
</div>
<br/>
<div class="container">
  <!-- compter le nombre de commentaire -->
  <h5 class="text-white bg-dark"><%= @gossip.comments.count %> comments</h5>

  <!-- Créer un commentaire -->
  <%= render 'comments/new' %>
  <!-- Affichage des commentaires -->
  <%= render 'comments/index' %>
</div>